@charset "UTF-8";
/*
 * Include the SDK stylesheet
 */
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-nav-compass {
  cursor: default; }

.sdk-mapbox-gl-popup {
  font-size: 14px;
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 18px 15px 15px;
  border-radius: 10px;
  border: 1px solid #cccccc; }
  .sdk-mapbox-gl-popup:after, .sdk-mapbox-gl-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute; }
  .sdk-mapbox-gl-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px; }
  .sdk-mapbox-gl-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px; }
  .sdk-mapbox-gl-popup #sdk-popup-container {
    max-height: 240px;
    overflow: auto; }

.sdk-popup {
  font-size: 14px;
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 18px 15px 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px; }
  .sdk-popup:after, .sdk-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute; }
  .sdk-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px; }
  .sdk-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px; }
  .sdk-popup #sdk-popup-container {
    max-height: 240px;
    overflow: auto; }

.sdk-popup-closer {
  font-style: normal;
  text-decoration: none;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer; }

.sdk-popup-closer:after {
  content: "✖"; }

.controls .sdk-slider-control {
  z-index: 1;
  position: absolute;
  top: 160px;
  left: -75px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  .controls .sdk-slider-control input[type=range] {
    background-color: transparent;
    -webkit-appearance: none;
    width: 201px; }
    .controls .sdk-slider-control input[type=range]:focus {
      outline: 0; }
    .controls .sdk-slider-control input[type=range]::-webkit-slider-runnable-track {
      cursor: pointer;
      height: 24px;
      transition: all .2s ease;
      width: 201px;
      background: #ededed;
      border: 1px solid #b4b4b4;
      border-radius: 4px; }
    .controls .sdk-slider-control input[type=range]::-webkit-slider-thumb {
      background: #29728d;
      border: 1px solid #ffffff;
      border-radius: 4px;
      cursor: pointer;
      height: 22px;
      width: 14px;
      -webkit-appearance: none; }
    .controls .sdk-slider-control input[type=range]::-moz-range-track {
      cursor: pointer;
      height: 24px;
      transition: all .2s ease;
      width: 201px;
      background: #ededed;
      border: 1px solid #b4b4b4;
      border-radius: 4px; }
    .controls .sdk-slider-control input[type=range]::-moz-range-thumb {
      background: #29728d;
      border: 1px solid #ffffff;
      border-radius: 4px;
      cursor: pointer;
      height: 22px;
      width: 14px; }
    .controls .sdk-slider-control input[type=range]::-ms-track {
      cursor: pointer;
      height: 24px;
      transition: all .2s ease;
      width: 201px;
      background: transparent;
      border-color: transparent;
      border-width: 11px 0;
      color: transparent; }
    .controls .sdk-slider-control input[type=range]::-ms-fill-lower {
      background: #e0e0e0;
      border: 1px solid #b4b4b4;
      border-radius: 8px; }
    .controls .sdk-slider-control input[type=range]::-ms-fill-upper {
      background: #ededed;
      border: 1px solid #b4b4b4;
      border-radius: 8px; }
    .controls .sdk-slider-control input[type=range]::-ms-thumb {
      background: #29728d;
      border: 1px solid #ffffff;
      border-radius: 4px;
      cursor: pointer;
      height: 22px;
      width: 14px;
      margin-top: 0; }

@-moz-document url-prefix() {
  .controls .sdk-slider-control {
    top: calc(160px + 4px); } }

.sdk-zoom-control {
  z-index: 1;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 12px;
  background-color: #e0e0e0; }
  .sdk-zoom-control button {
    border-radius: 4px 4px 0 0;
    background-color: #f1f1f1;
    font-size: 1.14em;
    font-weight: bold;
    display: block;
    width: 1.55em;
    height: 1.55em;
    border: 1px solid #b4b4b4; }
    .sdk-zoom-control button:focus {
      outline: 0; }
    .sdk-zoom-control button:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .sdk-zoom-control button.sdk-zoom-in {
    border-bottom: none; }
  .sdk-zoom-control button.sdk-zoom-out {
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #b4b4b4; }

.sdk-scale-line {
  z-index: 1;
  background: #29728d;
  border-radius: 4px;
  bottom: .5em;
  left: .5em;
  padding: 2px;
  position: absolute; }

.sdk-scale-line-inner {
  border: 1px solid #ededed;
  border-top: none;
  color: #ededed;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width; }

/** SDK button. */
button.sdk-btn {
  background-color: #f58d50;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem; }

li.sdk-layer {
  list-style: none; }

.sdk-map {
  position: relative; }

.sdk-map .controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  line-height: 1.6;
  color: #0a0a0a; }

a {
  outline: none !important;
  font-weight: bold;
  text-decoration: none; }

a:link {
  color: #c00; }

a:visited {
  color: #606; }

a:hover {
  color: #606; }

a:active {
  color: #900;
  outline: none; }

h1 {
  font-size: 320%;
  line-height: 1.35;
  font-style: normal;
  margin: 1.5em 0 0.8em; }

h2 {
  font-weight: bold;
  font-size: 200%;
  margin: 1em 0 0.8em; }

h3 {
  font-weight: normal;
  font-size: 150%;
  letter-spacing: 0.15em;
  margin: 0 0; }

h4 {
  font-weight: normal;
  font-size: 150%;
  letter-spacing: 0.1em;
  margin: 0 0.8em; }

h5 {
  font-weight: normal;
  font-style: italic;
  font-size: 150%;
  margin: 1.5em 0 0.8em; }

h6 {
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 0.1em;
  margin: 1.5em 0 0.8em; }

p {
  text-align: left;
  font-size: 100%;
  margin: 1em 0 0; }

p.lead {
  font-size: 150%;
  margin: 1em 0; }

p + p {
  margin: 0;
  text-indent: 1.5em; }

p + ul, p + ol, p + dl {
  margin-bottom: 1.5em; }

p.lead + p {
  text-indent: 0; }

blockquote {
  border-left: 5px solid #eee;
  padding-left: 1.5em;
  margin: 1em 0; }

blockquote small {
  display: block;
  line-height: 1.7em; }

ul, ol, dl {
  text-align: left; }

dt {
  font-weight: bold; }

code {
  font-family: courier, monospace; }

p > code {
  padding: 0.25em;
  background: #eee; }

pre {
  text-align: left;
  font-size: 100%; }

hr {
  height: 0;
  color: #eee;
  border: 1px solid #eee;
  margin: 2em 0 1em; }

.normal {
  font-weight: normal; }

.quiet {
  color: #999; }

.pull-left {
  float: left;
  margin: 0.5em 2em 1em 0; }

.pull-right {
  float: right;
  margin: 0.5em 0 1em 2em; }

@media (max-width: 500px) {
  body {
    font-size: 80%; }
  img {
    max-width: 100% !important;
    height: auto !important;
    float: none !important; } }

html, body {
  height: 100%; }

.App {
  text-align: center; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Map-container .slideContent {
  padding: 0px 60px 0px 60px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column; }
  .Map-container .slideContent header {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 20px; }
  .Map-container .slideContent content {
    text-align: left;
    display: flex;
    flex: 1 0 auto; }
    .Map-container .slideContent content .left {
      flex: 2;
      padding-right: 20px; }
    .Map-container .slideContent content .right {
      flex: 5; }
  .Map-container .slideContent footer {
    flex-shrink: 0;
    height: 70px; }

.Map-container .landing {
  background: url(img/page-one.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  align-items: center; }
  .Map-container .landing h1 {
    margin: 0;
    padding-top: 260px;
    font-size: 60px; }
  .Map-container .landing p {
    text-align: center;
    margin: 0; }
  .Map-container .landing .names {
    width: 60%;
    display: flex;
    align-items: stretch; }
    .Map-container .landing .names span {
      flex: 1;
      padding-top: 30px;
      padding-bottom: 30px; }

.sdk-map {
  height: 80%; }
